#root {
  height: 100%;
}
.ant-layout {
  height: 100%;
}
html {
  overflow: hidden;
  height: 100%;
}
.wrapper {
  height: 100%;
}
.ant-spin-nested-loading {
  height: 100% !important;
}
.ant-spin-container {
  height: 100% !important;
}
